/* GENERAL USE */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.title {
  font-family: helvetica;
  letter-spacing: 3px;
  font-size: bigger; }

.description {
  font-family: arial;
  font-size: smaller;
  margin-left: 10px; }

body {
  font-family: arial; }

/* STYLES FOR MAIN PAGE */
#user_cp {
  border: 1px solid black;
  position: relative;
  width: auto;
  height: auto;
  float: right;
  padding: 2px; }
  #user_cp ul {
    list-style: none; }
    #user_cp ul li {
      display: inline; }

#main_container {
  width: 900px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black; }

#home_subforum {
  border-top: 2px dotted #777777;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px; }
  #home_subforum:hover {
    background-color: #eeeeee; }
  #home_subforum a {
    text-decoration: none; }

/* STYLES FOR SUBFORUMS */
#title_container {
  border-bottom: 1px solid black;
  margin-bottom: 10px; }

#topics_container {
  margin-left: 5px;
  margin-bottom: 20px; }

#subforum_actions {
  float: right; }

/* STYLES FOR TOPICS */
.topic_title {
  font-family: arial;
  letter-spacing: 1px;
  font-size: big; }

.topic_description {
  font-family: arial;
  font-size: smaller;
  margin-left: 10px; }

/* STYLES FOR POSTS */
#user_box {
  width: 150px;
  height: 50px;
  float: left;
  position: relative;
  padding: 2px; }

#message_box {
  float: left;
  position: relative;
  width: 720px;
  padding: 2px; }

#post_container {
  width: 895px;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid black; }

.post_username {
  font-family: times_new_roman; }

.post_message {
  font-size: 14px; }
